<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ezopen.ezopen_camera">
    <!--基础功能所需权限-->
    <!--用于访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于保存抓取图片，码流等行为-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--配网所需权限,由于会涉及到网络连接等行为，同时还有安全方面的机制，因为也会使用到FINE_LOCATION-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

</manifest>
